# Boston Model

In [1]:
import pandas as pd

In [3]:
from sklearn.datasets import load_boston
boston_dataset = load_boston()

In [34]:
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [50]:
x = boston[["CRIM"]]
y = boston[["B"]]

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [52]:
lr = LinearRegression()

In [53]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30)

In [54]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
y_pred = lr.predict(x_test)
y_pred[:5]

array([[365.98894888],
       [371.34071392],
       [368.45470429],
       [371.30556899],
       [371.05878445]])

In [56]:
y_test.head(5)

          B
23   394.54
256  386.34
260  392.80
202  395.38
175  390.96